
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    
  <title>Document</title>
</head>
<body class="px-5 py-5">
    
    <div id="app" >
        <div class="card p-4" >
            <h2>{{ what_do }}</h2>
            <form action="" v-on:submit.prevent="confirm">
                <label for="name">Name :</label>
                <input type="text" class="form-control" v-model="form.name"><br>

                <label for="name">Address :</label>
                <input type="text" class="form-control" v-model="form.address"><br>

                <label for="name">No Hp :</label>
                <input type="text" class="form-control" v-model="form.no_hp"><br>


                <div v-if="photo_profile === true">
                    <label for="poto">Masukan Poto Profile</label>
                    <input id="formUploadPhoto" type="file" class="form-control-file" @change="filesChange($event.target.files);" accept="image/*">
                </div>

                

                <br><br>
                <input type="submit" class="btn btn-primary btn-lg btn-block" v-model:value="aksi">
            </form>
        </div>
        
        <br><br>

      

      <table class="table mx-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">No Hp</th>
            <th scope="col">photo profile</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody v-for="(member, index) in responseAPI.members" :key="member.id">
          <tr>
            <th scope="row">{{index}}</th>
            <td>{{ member.name }}</td>
            <td>{{ member.address }}</td>
            <td>{{ member.no_hp }}</td>
            <td>{{ member.photo_profile }}</td>
            <td>
                <button type="button" class="btn btn-info" v-on:click="edit(member.id)">Edit</button>
                <button type="button" class="btn btn-danger" v-on:click="destroy(member.id)">Hapus</button>
                
            </td>
          </tr>
          
        </tbody>
      </table>

    </div>
  
    <!-- Vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  
  <!-- Axios untuk fect  Api -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var vm = new Vue({
            el: '#app',
            data: {
                what_do : 'Masukan Data',
                responseAPI : {},
                form : {
                    name : '',
                    address : '',
                    no_hp : '',
                },
                id : '',
                photo_profile : false,
                aksi : 'add',
                
            },
            async mounted () {
                this.load();

                
            },
            methods : {
                async load(){
                    return await axios.get('http://demo-api-vue.sanbercloud.com/api/member')
                        .then(response => (this.responseAPI = response.data))
                        .catch(err => console.log(err));
                },

                async confirm() {

                    if (this.aksi === 'add') {
                        await axios.post('http://demo-api-vue.sanbercloud.com/api/member', this.form)
                        .then(response => (this.responseAPI = response.data))
                        .catch(err => console.log(err));

                        this.form.name = '';
                        this.form.address = '';
                        this.form.no_hp = '';

                        this.load();
    
                    } else if (this.aksi === 'edit') {
                        this.updateData(this.id, this.form);
                    }
                    
                    
                },

                async edit(id){
                    await axios.get(`http://demo-api-vue.sanbercloud.com/api/member/${id}`)
                        .then(response => {
                            this.form.name = response.data.member.name;
                            this.form.address = response.data.member.address;
                            this.form.no_hp = response.data.member.no_hp;
                        })
                        .catch(err => console.log(err));
                    
                        this.load();
                        this.id = id;

                        this.photo_profile = true;
                        this.aksi = 'edit';
                        this.what_do = 'Edit Data';

                },

                async updateData(id, member){
                    await axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`, member)
                        .then(response => console.log(response))
                        .catch(err => console.log(err));
                    
                        this.load();
                        this.id = '';
                        this.form.name = '';
                        this.form.address = '';
                        this.form.no_hp = '';

                        this.what_do = 'Masukan Data';
                        this.aksi = 'add';
                        this.photo_profile = false;
                },

                async destroy(id) {
                    await axios.delete(`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`)
                        .then(response => console.log(response))
                        .catch(err => console.log(err));
                    
                        this.load();

                },

                filesChange(fileList) {
                    
                    if (!fileList.length) return;

                    const inputGambar = fileList[0];

                    // Membuat Form Data Baru
                    const formData = new FormData();
                    formData.append('photo_profile', inputGambar);

                    this.uploadFile(this.id, formData);

                    
                    
                },

                async uploadFile(id, file){
                    return await axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,file)
                        .then(response => console.log(response))
                        .catch(err => console.log(err));

                },

                // async confirm(){
                //     return await axios.all([create(), load()]).catch(err => console.log(err));
                // }
            }
    })
  </script>
</body>
</html>